
<div class="form-infos">
  <%= simple_form_for(artpiece) do |f| %>
    <div class="artpiece-main d-flex justify-content-between">
      <%= f.input :name %>
      <%= f.input :artist %>
    </div>
    <%= f.input :category, collection: Artpiece::CATEGORIES %>
    <%= f.input :description %>
    <%= f.input :price_per_day %>
    <%= f.input :photo, as: :file %>
    <%= f.submit 'Save', class: 'btn btn-flat text-center' %>
  <% end %>
</div>
