<h1><%= @artpiece.name %></h1>

<% if @artpiece.photo.attached? %>
  <%= cl_image_tag @artpiece.photo.key, width: 400, crop: :fill %>
<% end %>
<%= @artpiece.category %>
<%= @artpiece.artist %>
<%= @artpiece.description %>
<%= @artpiece.price_per_day %>

<% if policy(Rental.new(artpiece: @artpiece)).create? %>
  <%= link_to 'Rent it now!', new_artpiece_rental_path(@artpiece) %>
<% end %>
