<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  <h1><%= @artpiece.name %></h1>
</div>

<%= @artpiece.category %>
<%= @artpiece.artist %>
<%= @artpiece.description %>
<%= @artpiece.price_per_day %>

<% if policy(Rental.new(artpiece: @artpiece)).create? %>
  <%= link_to 'Rent it now!', new_artpiece_rental_path(@artpiece) %>
<% end %>
