<div class="card-rental">
  <% if rental.artpiece.photo.attached? %>
    <%= cl_image_tag rental.artpiece.photo.key, width: 300, crop: :fill %>
  <% end %>
  <div class="card-info">
    <div class="artpiece-info">
      <p><strong><%= rental.artpiece.name %></strong> - <%= rental.artpiece.artist %></p>
    </div>
    <p>Rental dates :</p>
    <div class="rental-info">
      <p><%= rental.start_time.to_formatted_s(:long) %> - <%= rental.end_time.to_formatted_s(:long) %></p>
    </div>
    <div class="rental-price">
      <p><strong>Price : <%= (rental.end_time - rental.start_time).to_i*rental.artpiece.price_per_day %>€</strong></p>
    </div>
    <div class="rental-status <%= bg_status(rental.status) %>">
        <%= rental.status %>
    </div>
    <div class="buttons">
      <% if policy(rental).edit? %>
        <% if rental.status != "cancelled" %>
          <button type="button" class="btn btn-update" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Update
          </button>
          <div class="button-cancel">
            <%= link_to 'Cancel',cancel_rental_rental_path(rental, status: "cancelled"),  method: :patch, class: 'btn-cancel' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit your offer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'form', artpiece: rental.artpiece, rental: rental %>
      </div>
    </div>
  </div>
</div>
