<div class="card-rental">
  <% if request.artpiece.photo.attached? %>
    <%= cl_image_tag request.artpiece.photo.key, width: 300, crop: :fill %>
  <% end %>
  <div class="card-info">
    <div class="artpiece-info">
      <p><strong><%= request.artpiece.name %></strong> - <%= request.artpiece.artist %></p>
    </div>
    <p>Rental dates :</p>
    <div class="rental-info">
      <p><%= request.start_time.to_formatted_s(:long) %> - <%= request.end_time.to_formatted_s(:long) %></p>
    </div>
    <div class="rental-price">
      <p><strong>Expected Payment : <%= (request.end_time - request.start_time).to_i*request.artpiece.price_per_day %>€</strong></p>
    </div>
    <div class="rental-status <%= bg_status(request.status) %>">
    <%= request.status %>
    </div>
    <div class="buttons">
      <% if request.status == "pending" %>
        <%= link_to 'Accept',change_status_rental_path(request, status: "accepted"),  method: :patch, class: 'btn-accept' %>
        <%= link_to 'Deny',change_status_rental_path(request, status: "rejected"),  method: :patch, class: 'btn-deny' %>
      <% end %>
    </div>
  </div>
</div>
