  <h2 class='text-center'>Your rentals</h2>

<% if @rentals.first.nil? %>
  <p class='text-center'>You have no rentals yet</p>
<% else %>
  <div class="container">
    <div class="row my-4 cards">
      <% @rentals.each do |rental| %>
        <div class="col-3 mx-4 card-rental">
          <% if rental.artpiece.photo.attached? %>
            <%= cl_image_tag rental.artpiece.photo.key, width: 300, crop: :fill %>
          <% end %>
          <div class="card-info d-flex flex-column">
            <div class="artpiece-info d-flex flex-column">
              <div class="artpiece-title">
                <%= rental.artpiece.name %>
              </div>
              <div class="artpiece-artist">
                <%= rental.artpiece.artist %>
              </div>
            </div>
            <p>Rental dates :</p>
            <div class="rental-info">
              <%= rental.start_time.to_formatted_s(:long) %>
              <%= rental.end_time.to_formatted_s(:long) %>
            </div>
            <div class="rental-status">
              <%= rental.status %>
            </div>
          </div>
          <% if policy(rental).edit? %>
            <%= link_to 'Update', edit_rental_path(rental), class: 'btn btn-primary' %>
          <% end %>
        </div>
        <% end %>
    </div>
  </div>
<% end %>

  <h2 class='text-center'>Your requested rentals</h2>

<% if @rentals_requested.first.nil? %>
  <p class='text-center'>You have no rentals requests yet</p>
<% else %>
  <div class="container">
    <div class="row my-4 cards">
      <% @rentals_requested.each do |request_by_art| %>
        <% request_by_art.each do |request| %>
          <div class="col-3 mx-4 card-rental">
            <%= cl_image_tag request.artpiece.photo.key, width: 300, crop: :fill %>
            <div class="artpiece-info d-flex flex-column">
              <div class="artpiece-title">
                <%= request.artpiece.name %>
              </div>
              <div class="artpiece-artist">
                <%= request.artpiece.artist %>
              </div>
            </div>
            <div class="rental-info">
              <%= request.start_time.to_formatted_s(:long) %>
              <%= request.end_time.to_formatted_s(:long) %>
            </div>
            <div class="rental-status">
            <%= request.status %>
            </div>
            <div class="buttons">
              <% if request.status == "pending" %>
                <%= link_to 'Accept',change_status_rental_path(request, status: "accepted"),  method: :patch, class: 'btn btn-success' %>
                <%= link_to 'Deny',change_status_rental_path(request, status: "rejected"),  method: :patch, class: 'btn btn-danger' %>
              <% end %>
              <% if request.status != "cancelled" %>
                <%= link_to 'Cancel',change_status_rental_path(request, status: "cancelled"),  method: :patch, class: 'btn btn-info' %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<%= link_to 'Back to Art Pieces', artpieces_path, class: 'btn btn-primary' %>
<%= link_to 'Refresh', rentals_path, class: 'btn btn-primary' %>
